body {
    background-color: rgb(239, 239, 236);
    color: rgb(0, 0, 0);
    font-size: 60px;
}

img {
    width: 200px;
}

.paragrafo{
    color: black;
    font-size: 20px;
}

#ronaldo{
    font-family: sans-serif;
}

footer {
    background-color: rgb(5, 5, 5);
}